name: $(Date:yyyyMMdd)$(Rev:.r)
variables:
  var1: value1
  terraform_templates_dir: 04-slb2srv1reg

trigger:
  - push
  
pool:
  vmImage: ubuntu-latest
  
stages:
  - stage: install
    jobs:
    - job: terraforminstall
      steps:
        - task: TerraformInstaller@2
          displayName: install terraform
          inputs:
            terraformVersion: 0.14.3 #latest

        - task: TerraformCLI
          displayName: 'terraform plan'
          inputs:
            command: plan
            workingDirectory: $(terraform_templates_dir)
            environmentServiceName: 'netresearch-cloudiac'