name: $(Date:yyyyMMdd)$(Rev:.r)
variables:
  var1: value1
  terraform_templates_dir: 03-networks

trigger:
  - push
  
pool:
  vmImage: ubuntu-latest
  
stages:
  - stage: validate
    jobs:
    - job: terraform_init
      steps:
        # - task: TerraformInstaller@0
        #   displayName: install terraform
        #   inputs:
        #     terraformVersion: 'latest'
        - task: TerraformTaskV2@2
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: $(terraform_templates_dir)
            backendServiceArm: 'Visual Studio Enterprise – MPN(07209e8b-f025-434a-98ee-5e5430ed50b1)'
            backendAzureRmResourceGroupName: 'RG-common-base'
            backendAzureRmStorageAccountName: 'tfcmmgtstatestore'
            backendAzureRmContainerName: 'tfstatecontainer'
            backendAzureRmKey: 'backendsetup.terraform.tfstate'
    # - job: terraform_validate
    #  steps:
        - task: TerraformTaskV2@2
          inputs:
            provider: 'azurerm'
            #command: 'init'
            command: 'validate'
            workingDirectory: '$(terraform_templates_dir)' 
  - stage: plan
    jobs:
    - job: terraform_init
      steps:
        # - task: TerraformInstaller@0
        #   displayName: install terraform
        #   inputs:
        #     terraformVersion: 'latest'
        - task: TerraformTaskV2@2
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: $(terraform_templates_dir)
            backendServiceArm: 'Visual Studio Enterprise – MPN(07209e8b-f025-434a-98ee-5e5430ed50b1)'
            backendAzureRmResourceGroupName: 'RG-common-base'
            backendAzureRmStorageAccountName: 'tfcmmgtstatestore'
            backendAzureRmContainerName: 'tfstatecontainer'
            backendAzureRmKey: 'backendsetup.terraform.tfstate'
    #- job: planning
    #  steps:
        - task: TerraformTaskV2@2
          inputs:
            provider: 'azurerm'
            command: 'plan'
            commandOptions: '-out=tfplan'
            workingDirectory: '$(terraform_templates_dir)'
            environmentServiceNameAzureRM: 'Visual Studio Enterprise – MPN(07209e8b-f025-434a-98ee-5e5430ed50b1)'